@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Adicione um video para coletar dados</h1>
    <span>videos nos formatos: .mp4, .avi, .mov</span>
    <hr />
    <input id="get-videos" type="file" accept=".mp4, .avi, .mov" />
    <br />
    <br />
    <button id="submit-btn">Processar</button>
    <br />
    <br />
    <div id="showroom"></div>
</div>

@section Scripts {
    <script>
        const input = document.querySelector('#get-videos');
        const submit = document.querySelector('#submit-btn');

        submit.addEventListener('click', function () {
            const selectedFile = input.files[0];
            const formData = new FormData();
            formData.append('videoFile', selectedFile);
            if (selectedFile) {
                const fileType = selectedFile.type;
                if (!fileType.startsWith('video/')) {
                    alert('Por favor, selecione um arquivo de vídeo.');
                    input.value = '';
                } else {
                    fetch("?handler=VideoExtractor", {
                        method: 'POST',
                        body: formData
                    })
                        .then(response => {
                            if (!response.ok) {
                                console.error('Erro na resposta da API:', response.statusText);
                                throw new Error('Não foi possível obter os dados da API');
                            }
                            return response.json();
                        })
                        .then(data => {
                            showOnScreen(data);
                        })
                        .catch(error => {
                            console.error('Erro na solicitação:', error);
                        });
                }
            }
        });

        function showOnScreen(data) {
            const showroomDiv = document.querySelector('#showroom');
            let prep = "";

            prep += `<div>
                <span>{data.DurationInSeconds}</span>
                <br />
                <span>{data.Width}</span>
                <br />
                <span>{data.Height}</span>
                <br />
                <span>{data.FrameRate}</span>
                <br />
                <span>{data.VideoCodec}</span>
                <br />
                <span>{data.VideoBitrate}</span>
                <br />
                <span>{data.AudioCodec}</span>
                <br />
                <span>{data.AudioChannels}</span>
                <br />
                <span>{data.AudioSampleRate}</span>
                <br />
                <span>{data.AudioBitrate}</span>
                <br />
                <span>{data.AudioLanguage}</span>
                <br />
                <span>{data.HasSubtitles}</span>
                <br />
                <span>{data.AspectRatio}</span>
                <br />
                <span>{data.CreationDate}</span>
            </div>`;

            showroomDiv.innerHTML += prep;
        }
    </script>
}